@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-color {
    @apply dark:text-[#00c896] text-[#00a37a]
  }

}

::selection {
  background-color: white;
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}